.sidenav{
  height: 100%;
  width: 40px;
  position: absolute;
  top: 60px;
  left: 0%;
  height: 100vh;
	place-self: stretch;
	background: var(--background);
	backdrop-filter: blur(2rem);
  background-color: blueviolet;
  background-size: 50px;
  padding-left: 15px;
  display: flex;
	flex-direction: column;
	padding: 0.5rem;
	gap: 20px;
}
.btn{
    background-color: #04AA6D;
    display: flex;
    position: absolute;
    border-radius: 10px;
    width: 100px;
    right: 250px;
    top: 15px;
    height: 30px;
    display: flex;
    justify-content: center;
  }
.red{
  display: flex;
  justify-content: center;
}

.car{
  display: flex;
  gap: 20px;
  padding-left: 80px;
  
}
body{
  background: linear-gradient(91.11deg,hsl(263,46%,60%)27.84%, hsl(181,100%,47%)75%);
}
.meet{
  display: flex;
  justify-content: center;
  padding-left: 80px;
}
.head{
  display: flex;
  justify-content: center;
  gap: 150px;
}
.search{
  margin-top: 13px;
  border-color: purple;
  border-radius: 15px;
  width: 270px;
  height: 25px;
}
.btn{
  right: 100px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.w{
  margin-top: 5px;
}

